.C--table-list-container {
  .tc__item {
    margin-bottom: 20px;
  }

  .error {
    padding: 20px;
    background-color: #ff9800;
    color: white;

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: black;
      }
    }
  }
}

.C--searchBar {
  text-align: center;
  .input {
    width: 100%;
    margin-right: 10px;
  }
}

.ui.text.container {
  margin-top: 20px;
  margin-bottom: 20px;
  h1 {
    text-align: center;
  }
}
